# .github/workflows/main.yml
name: Generate Datas

on:
  schedule:
    # run every 12 hours
    - cron: '0 */12 * * *'
  workflow_dispatch:

# Give the GitHub Actions bot permission to push
permissions:
  contents: write
  
jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      # Always check out the repo so the publish action can find the repo remote
      - uses: actions/checkout@v4
      
      # Snake Animation
      - uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: alberttjc
          svg_out_path: dist/github-contribution-grid-snake.svg

      # Publish to output branch
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
